implementation/AXIS2/CLIENT/src/localhost/userservice_wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UserService" 
          targetNamespace="http://example.com/userservice.wsdl"
          xmlns:tns="http://example.com/userservice.wsdl"
          xmlns:xsd1="http://example.com/userservice.xsd"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns="http://schemas.xmlsoap.org/wsdl/">



		<!-- TYPE DEFINTIONS --> 
    <types>
       <schema targetNamespace="http://example.com/userservice.xsd"
              xmlns="http://www.w3.org/2001/XMLSchema">
           
           <!-- Get User Information -->
           <!-- input: username -->  
           <element name="UserInfoRequest">
              <complexType>
                  <all>
                      <element name="username" type="string"/>
                  </all>
              </complexType>
           </element>
           
           <!-- output: first name, last name, gender, age -->
           <element name="UserInfo">
              <complexType>
                  <all>
                  		<element name="firstname" type="string"/>
                  		<element name="lastname" type="string"/>
                      <element name="gender" type="boolean"/>
                      <element name="age" type="integer"/>
                  </all>
              </complexType>
           </element>
           
           
           <!-- Delete User -->
           <!-- input: username -->
           <element name="UserDeletionRequest">
           		<complexType>
           			<all>
           					<element name="username" type="string"/>
           			</all>
           		</complexType>
           </element>
           
           <!-- output: response boolean -->
           <element name="UserDeletionResponse">
           		<complexType>
           			<all>
           					<element name="response" type="boolean"/>
           			</all>
           		</complexType>
           </element>
           
           
           <!-- Create User -->
           <!-- input: user name, first name, last name, age, gender -->
           <element name="UserCreationRequest">
           		<complexType>
           			<all>
           					<element name="username" type="string"/>
           					<element name="firstname" type="string"/>
           					<element name="lastname" type="string"/>
           					<element name="gender" type="boolean"/>
           					<element name="age" type="integer"/>
           			</all>
           		</complexType>
           </element>
           
           <!-- output: response boolean -->
           <element name="UserCreationResponse">
           		<complexType>
           			<all>
           					<element name="response" type="boolean"/>
           			</all>
           		</complexType>
           </element>
           
           
           <!-- Create Group -->
           <!-- input: group name -->
           <element name="GroupCreationRequest">
           		<complexType>
           			<all>
           					<element name="groupname" type="string"/>
           			</all>
           		</complexType>
           </element>
           
           <!-- output: response boolean -->
           <element name="GroupCreationResponse">
           		<complexType>
           			<all>
           					<element name="response" type="boolean"/>
           			</all>
           		</complexType>
           </element>
           
           
           <!-- Delete Group -->
           <!-- input: group name -->
           <element name="GroupDeletionRequest">
           		<complexType>
           			<all>
           					<element name="groupname" type="string"/>
           			</all>
           		</complexType>
           </element>
           
           <!-- output: response boolean -->
           <element name="GroupDeletionResponse">
           		<complexType>
           			<all>
           					<element name="response" type="boolean"/>
           			</all>
           		</complexType>
           	</element>
           	
           	
           	<!-- Add User to Group -->
           	<!-- input: user name, group name -->
           	<element name="GroupAddUserRequest">
           		<complexType>
           			<all>
           					<element name="username" type="string"/>
           					<element name="groupname" type="string"/>
           			</all>
           		</complexType>
           	</element>
           	
           	<!-- output: response boolean -->
           	<element name="GroupAddUserResponse">
           		<complexType>
           			<all>
           				<element name="response" type="boolean"/>
           			</all>
           		</complexType>
           	</element>
           	
           	
           	<!-- Delete User From Group -->
           	<!-- input: user name, group name -->
           	<element name="GroupDeleteUserRequest">
           		<complexType>
           			<all>
           					<element name="username" type="string"/>
           					<element name="groupname" type="string"/>
           			</all>
           		</complexType>
           	</element>
           	
           	<!-- output: response boolean -->
           	<element name="GroupDeleteUserResponse">
           		<complexType>
           			<all>
           					<element name="response" type="boolean"/>
           			</all>
           		</complexType>
           	</element>
           	
           	
           	<!-- Get Group Information -->
           	<!-- input: group name -->
           	<element name="GroupInfoRequest">
           		<complexType>
           			<all>
           					<element name="groupname" type="string"/>
           			</all>
           		</complexType>
           	</element>
           	
           	<!-- output: list of users -->
           	<element name="GroupInfoResponse">
           		<complexType>
           			<sequence>
           				<element name="userlist" type="string" minOccurs="0" maxOccurs="unbounded"/>
           			</sequence>
           		</complexType>
           	</element>
       </schema>
    </types>



		<!-- MESSAGES -->
    <message name="GetUserInfoInput">
        <part name="body" element="xsd1:UserInfoRequest"/>
    </message>
 
    <message name="GetUserInfoOutput">
        <part name="body" element="xsd1:UserInfo"/>
    </message>
    
    <message name="DeleteUserInput">
    		<part name="body" element="xsd1:UserDeletionRequest"/>
    </message>
    
    <message name="DeleteUserOutput">
    		<part name="body" element="xsd1:UserDeletionResponse"/>
    </message>
    
    <message name="CreateUserInput">
    		<part name="body" element="xsd1:UserCreationRequest"/>
    </message>
    
    <message name="CreateUserOutput">
    		<part name="body" element="xsd1:UserCreationResponse"/>
    </message>
    
    <message name="CreateGroupInput">
    		<part name="body" element="xsd1:GroupCreationRequest"/>
    </message>
    
    <message name="CreateGroupOutput">
    		<part name="body" element="xsd1:GroupCreationResponse"/>
    </message>
    
    <message name="DeleteGroupInput">
    		<part name="body" element="xsd1:GroupDeletionRequest"/>
    </message>
    
    <message name="DeleteGroupOutput">
    		<part name="body" element="xsd1:GroupDeletionResponse"/>
    </message>
    
    <message name="GroupAddUserInput">
    		<part name="body" element="xsd1:GroupAddUserRequest"/>
    </message>
    
    <message name="GroupAddUserOutput">
    		<part name="body" element="xsd1:GroupAddUserResponse"/>
    </message>
    
    <message name="GroupDeleteUserInput">
    		<part name="body" element="xsd1:GroupDeleteUserRequest"/>
    </message>
    
    <message name="GroupDeleteUserOutput">
    		<part name="body" element="xsd1:GroupDeleteUserResponse"/>
    </message>
    
    <message name="GetGroupInfoInput">
    		<part name="body" element="xsd1:GroupInfoRequest"/>
    </message>
    
    <message name="GetGroupInfoOutput">
    		<part name="body" element="xsd1:GroupInfoResponse"/>
    </message>
    
    

 		<!-- PORT TYPES -->
    <portType name="UserServicePortType">
        <operation name="GetUserInfo">
           <input message="tns:GetUserInfoInput"/>
           <output message="tns:GetUserInfoOutput"/>
        </operation>
        
        <operation name="DeleteUser">
        	<input message="tns:DeleteUserInput"/>
        	<output message="tns:DeleteUserOutput"/>
        </operation>
        
        <operation name="CreateUser">
        	<input message="tns:CreateUserInput"/>
        	<output message="tns:CreateUserOutput"/>
        </operation>
        
        <operation name="CreateGroup">
        	<input message="tns:CreateGroupInput"/>
        	<output message="tns:CreateGroupOutput"/>
        </operation>
        
        <operation name="DeleteGroup">
        	<input message="tns:DeleteGroupInput"/>
        	<output message="tns:DeleteGroupOutput"/>
        </operation>
        
        <operation name="GroupAddUser">
        	<input message="tns:GroupAddUserInput"/>
        	<output message="tns:GroupAddUserOutput"/>
        </operation>
        
        <operation name="GroupDeleteUser">
        	<input message="tns:GroupDeleteUserInput"/>
        	<output message="tns:GroupDeleteUserOutput"/>
        </operation>
        
        <operation name="GetGroupInfo">
        	<input message="tns:GetGroupInfoInput"/>
        	<output message="tns:GetGroupInfoOutput"/>
        </operation>
    </portType>
    
    

 		<!-- BINDINGS -->
    <binding name="UserServiceSoapBinding" type="tns:UserServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetUserInfo">
           <soap:operation soapAction="http://example.com/GetUserInfo"/>
           <input>
               <soap:body use="literal"/>
           </input>
           <output>
               <soap:body use="literal"/>
           </output>
        </operation>
        
        <operation name="DeleteUser">
        	 <soap:operation soapAction="http://example.com/DeleteUser"/>
        	 <input>
        	 		<soap:body use="literal"/>
        	 	</input>
        	 	<output>
        	 			<soap:body use="literal"/>
        	 	</output>
        </operation>
        
        <operation name="CreateUser">
        	<soap:operation soapAction="http://example.com/CreateUser"/>
        	<input>
        		 <soap:body use="literal"/>
        	</input>
        	<output>
        			<soap:body use="literal"/>
        	</output>
        </operation>
        
        <operation name="CreateGroup">
        	<soap:operation soapAction="http://example.com/CreateGroup"/>
        	<input>
        			<soap:body use="literal"/>
        	</input>
        	<output>
        			<soap:body use="literal"/>
        	</output>
        </operation>  
        
        <operation name="DeleteGroup">
        	<soap:operation soapAction="http://example.com/DeleteGroup"/>
        	<input>
        			<soap:body use="literal"/>
        	</input>
        	<output>
        			<soap:body use="literal"/>
        	</output>
       	</operation>   
       	
       	<operation name="GroupAddUser">
       		<soap:operation soapAction="http://example.com/GroupAddUser"/>
       		<input>
       				<soap:body use="literal"/>
       		</input>
       		<output>
       				<soap:body use="literal"/>
       		</output>
       	</operation>
       	
       	<operation name="GroupDeleteUser">
       		<soap:operation soapAction="http://example.com/GroupDeleteUser"/>
       		<input>
       				<soap:body use="literal"/>
       		</input>
       		<output>
       				<soap:body use="literal"/>
       		</output>
       	</operation>
       	
       	<operation name="GetGroupInfo">
       		<soap:operation soapAction="http://example.com/GetGroupInfo"/>
       		<input>
       				<soap:body use="literal"/>
       		</input>
       		<output>
       				<soap:body use="literal"/>
       		</output>
       	</operation>
    </binding>
    
    

 		<!-- SERVICE -->
    <service name="UserService">
        <documentation>An example user service.</documentation>
        <port name="UserServicePort" binding="tns:UserServiceSoapBinding">
           <soap:address location="http://example.com/userservice"/>
        </port>
    </service>
 
 </definitions>